<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="preload" href="/assets/fonts/InterTight-Italic-Variable-subset.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="/assets/fonts/InterTight-Variable-subset.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
    <main>
        {{ content }}
    </main>
</body>
</html>