/* Compiled to: ._button_a5x19_3  */
/* Selector Specificity: (0, 1, 0) */
.button { 
    padding-inline: 1.125rem;
    border-radius: .25rem;
    border: .0625rem solid transparent;
    height: 2.25rem;
    cursor: pointer;
    font-weight: 500;
}

/* Compiled to: ._button_a5x19_3._primary_a5x19_14  */
/* Selector Specificity: (0, 2, 0) */
.button.primary {
    background: #1971c2;
    color: #FFFFFF;
}

/* Compiled to: ._button_a5x19_3._error_a5x19_21  */
/* Selector Specificity: (0, 2, 0) */
.button.error {
    background: #E03131;
    color: #000000;
}
