.atomic-padding-inline { padding-inline: 1.125rem; }
.atomic-border-radius { border-radius: .25rem; }
.atomic-border { border: .0625rem solid transparent; }
.atomic-height { height:2.25rem; }
.atomic-cursor { cursor:pointer; }
.atomic-font-weight { font-weight: 500; }

.atomic-background-primary { background: #1971c2; }
.atomic-background-primary { color: #FFFFFF; }

.atomic-background-error { background: #E03131; }
.atomic-background-error { color: #000000; }
